* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat {
    width: 60%;
    max-width: 800px;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
}

.user-message,
.bot-message {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #f1f1f1;
}

.bot-message {
    background-color: #dedede;
}

.chat form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.question-label,
.pdf-label {
    width: 100%;
    font-weight: bold;
}

.question-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat form input[type="file"] {
    margin-left: 10px;
}

.chat form button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.chat form button:hover {
    background-color: #45a049;
}
